body{
  margin:0;
  padding:0;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('../img/banner.jpg');
  filter: brightness(30%);
  background-size: cover;
  box-shadow: inset 0px 0px 25px rgba(0,0,0,0.9);
}

.container{
  position: relative;
  color: white;
  text-align: center;
}

.container p{
  font-size: 1.3rem;
}

.container a{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10%;
  text-decoration: none;
  margin: 10px;
}

.container a:hover{
  background-color: white;
  color:black;
}

.banner{
  height: 92vh;
  display: flex;
  align-items: center;
  position: relative;
}
